@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Leilao</h1>
    <p class="lead">Site de leilão da graff, entre e e venha fazer seu lance.</p>
    <p>@Html.ActionLink("Fazer um lance", "index", "Produtoes", new { area = "" }, new { @class = "btn btn-default btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Agradecimentos</h2>
        <p>
            Agradeço pelo aportunidade!
        </p>
        <p><a class="btn btn-default" href="">NADA &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Site desenvolvido</h2>
        <p>Usando entity frameworks, C#, asp.net MVC</p>
        <p><a class="btn btn-default" href="">NADA &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contato</h2>
        <p>
         email: gui_sc@outlook.com
         celular: (41)99839-0152</p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/guilhermesc/">Linkdin &raquo;</a></p>
    </div>
</div>